<!-- <footer class="mt-4">
  <div class="container-fluid py-3">
    <div class="row ctn-footer">
      <div class="foot-ctn col-md-3 text-sm-center">
        <img class="foot-pcm img-fluid" src="./assets/images/pcm_footer.png">
      </div>
      <div class="foot-ctn col-md-3"><span class="foot-line"></span>
        <h3>ATENCIÓN AL CIUDADANO</h3>
        <div class="foot-info">
          <h4>Central de Orientación</h4>
          <p>224 7777 (Lima)<br>0-800-4-4040 (Llamadas gratuitas desde Regiones)</p>
          <span class="finfo-icon phone"></span>
        </div>
        <div class="foot-info">
          <h4>Correo Electrónico</h4>
          <p>sacreclamo@indecopi.gob.pe</p><span class="finfo-icon email"></span>
        </div>
      </div>
      <div class="foot-ctn col-md-3"><span class="foot-line"></span>
        <h3>HORARIO DE ATENCIÓN</h3>
        <div class="foot-info">
          <h4>Mesa de Partes</h4>
          <p>Lunes a Viernes<br>8:30 a.m.- 4:30 p.m.</p><span class="finfo-icon hour"></span>
        </div>
      </div>
      <div class="foot-ctn col-md-3"><span class="foot-line"></span>
        <h3>SÍGUENOS</h3>
        <div class="foot-social">
          <a class="fsocial-inst" target="_blank" href="https://instagram.com/indecopioficial"></a>
          <a class="fsocial-twt" target="_blank" href="https://twitter.com/indecopioficial?lang=es"></a>
          <a class="fsocial-fb" target="_blank" href="https://es-la.facebook.com/IndecopiOficial/"></a>
        </div>
        <div class="foot-radio"><a target="_blank" href="http://servicio.indecopi.gob.pe/utilitarios/radio/"><img
              src="./assets/images/radio.png"></a></div>
      </div>
    </div>
  </div>
</footer> -->
<footer class="container-fluid footer mt-3 pt-3 d-print-none" id="footer">
  <div class="row ctn-footer">
    <div class="foot-ctn col-md-3 text-sm-center">
      <img class="foot-pcm img-fluid" src="./assets/images/pcm_footer.png">
    </div>
    <div class="foot-ctn col-md-3"><span class="foot-line"></span>
      <h3>ATENCIÓN AL CIUDADANO</h3>
      <div class="foot-info">
        <h4>Central de Orientación</h4>
        <p>224 7777 (Lima)<br>0-800-4-4040 (Llamadas gratuitas desde Regiones)</p>
        <span class="finfo-icon phone"></span>
      </div>
      <div class="foot-info">
        <h4>Correo Electrónico</h4>
        <p>consultasregistrodeobras@indecopi.gob.pe</p><span class="finfo-icon email"></span>
      </div>
    </div>
    <div class="foot-ctn col-md-3"><span class="foot-line"></span>
      <h3>HORARIO DE ATENCIÓN</h3>
      <div class="foot-info">
        <h4>Mesa de Partes</h4>
        <p>Lunes a Viernes<br>8:30 a.m.- 4:30 p.m.</p><span class="finfo-icon hour"></span>
      </div>
    </div>
    <div class="foot-ctn col-md-3"><span class="foot-line"></span>
      <h3>SÍGUENOS</h3>
      <div class="foot-social">
        <a class="fsocial-inst" target="_blank" href="https://instagram.com/indecopioficial"></a>
        <a class="fsocial-twt" target="_blank" href="https://twitter.com/indecopioficial?lang=es"></a>
        <a class="fsocial-fb" target="_blank" href="https://es-la.facebook.com/IndecopiOficial/"></a>
      </div>
      <div class="foot-radio"><a target="_blank" href="http://servicio.indecopi.gob.pe/utilitarios/radio/"><img
            src="./assets/images/radio.png"></a></div>
    </div>
  </div>
</footer>
<div class="bottom-footer font-mr d-print-none">@Copyright 2019. Todo los derechos reservados,
  <a href="https://www.indecopi.gob.pe/" target="_blank">INDECOPI</a>
</div>