<app-menu [vcUrlManual]="vcManual"></app-menu>
<app-banner-principal [objConfiguracion]="objConfiguracion"></app-banner-principal>


<div class="container">
  <div class="row justify-content-around">
    <div class="ctn-steps step0  col-md-9">
      <div class="container">
<div class="row mt-3">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table">
        <tbody *ngFor="let item of objTerminos?.lstTerminos; let row = index">
          <tr>
            <th>{{item.nuItem}}</th>
            <td>
              <div [innerHTML]="item.vcDescTermino"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>

<div class="container d-print-none">
  <div class="row mt-3">
    <div class="col-sm">
      <!-- <hr> -->
      <button type="submit" class="btn btn-default float-left" routerLink="/inicio">
        <i class="fa fa-arrow-left mr-3"></i>
        Atrás
      </button>
    </div>
  </div>
</div>

