<div class="container-fluid d-print-none d-none d-xl-block" *ngIf="nuIdTipoSolicitud!=4">
    <div class="row float-right">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr class="bg-warning">
                                <th scope="col" colspan="2">Resumen de pago</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Clase principal</th>
                                <td>S/ {{objResumenPago.valorClasePrincipal | number:'1.2'}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Clase(s) adicional(es)</th>
                                <td>S/ {{objResumenPago.valorClaseAdicional | number:'1.2'}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Cant. Clases</th>
                                <td>{{objResumenPago.nuSumCantClases}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="bg-warning">
                                <td>Total al pagar</td>
                                <td>S/ {{objResumenPago.sumaTotalClases | number:'1.2'}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-print-none">
    <div class="row">
        <div class="col-md-12">
            <h4>
                Agregar clase(s) de producto(s) y/o servicio(s):
            </h4>
            <p>
                Utilice las siguientes prestañas para ubicar la clase de producto y/o servicio.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <tabset>
                    <tab heading="Por Clase" class="pt-3">
                        <span class="badge badge-pill badge-primary no-first custom-pill"
                            *ngFor="let item of lstTitulosNiza; let row = index"
                            [ngClass]="(row>33)?'servicio':'producto'" popover="{{item.vcProductosServicios}}"
                            triggers="mouseenter:mouseleave" placement="bottom"
                            (click)="agregarClaseNiza(item, true)">{{item.nuIdClase}}</span>
                        <div class="container-fluid">
                        </div>
                    </tab>
                    <tab heading="Por tipo de producto" class="pt-3">
                        <form [formGroup]="claseNizaForm">
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Ingrese descripción"
                                            formControlName="descripcion" maxlength="100">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="button" id="button-addon2"
                                                [disabled]="claseNizaForm.invalid" (click)="buscarDescripcionNiza()">
                                                <i class="material-icons" style="vertical-align: middle;">search</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Clase Niza</th>
                                            <th scope="col">Productos y/o Servicios</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of lstClasesNizaSearchFilter">
                                            <th scope="row">{{item.nuIdClase}}</th>
                                            <td>{{item.vcProductosServicios}}</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-light"
                                                    (click)="agregarClaseNiza(item, true)">
                                                    <span style="font-size: 1em; color: green;">
                                                        <i class="material-icons"
                                                            style="vertical-align: middle;">add</i>
                                                    </span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" *ngIf="lstClasesNizaSearch.length > 5">
                            <div class="col-sm-12">
                                <pagination [totalItems]="lstClasesNizaSearch.length" [boundaryLinks]="true"
                                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                                    [rotate]="true" [maxSize]="5" [itemsPerPage]="5"
                                    (pageChanged)="pageChanged($event)">
                                </pagination>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-6 pt-2">
            <p>Las clases de niza están agrupadas por colores:</p>
        </div>
        <div class="col-xs-12 col-sm-3 p-1 text-center">
            <span
                class="badge badge-pill badge-primary custom-leyenda-pill producto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <small class="text-muted ml-3">Producto</small>
        </div>
        <div class="col-xs-12 col-sm-3 p-1 text-center">
            <span
                class="badge badge-pill badge-primary custom-leyenda-pill servicio">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <small class="text-muted ml-3">Servicio</small>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <h4>
                Listado de clases seleccionadas:
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Clase</th>
                            <th scope="col">Productos y/o Servicios</th>
                            <th scope="col">Edit.</th>
                            <th scope="col">Elim.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstClasesNizaSeleccionadasFilter; let row=index;">
                            <th scope="row">{{item.nuIdClase}}</th>
                            <td>{{item.vcProductosServicios}}</td>
                            <td class="text-center">
                              <button type="button" class="btn btn-light"
                              (click)="doEditarClase(item, row)">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                            </button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-light" (click)="eliminarClaseNiza(item)">
                                  <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" *ngIf="lstClasesNizaSeleccionadas.length > 5">
                <div class="col-sm-12">
                    <pagination [totalItems]="lstClasesNizaSeleccionadas.length" [boundaryLinks]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                        [rotate]="true" [maxSize]="5" [itemsPerPage]="5"
                        (pageChanged)="pageChangedClaseNizaSeleccionadas($event)">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="nuIdTipoSolicitud!=4">
        <div class="col-md-10">
            <p class="mb-0">La primera clase de niza tendrá un costo de:</p>
        </div>
        <div class="col-md-2">
            <span class="text-danger">{{vcImporteClaseNizaPrincipal}}</span>
        </div>
    </div>
    <div class="row" *ngIf="nuIdTipoSolicitud!=4">
        <div class="col-md-10">
            <p class="mb-0">A partir de la segunda clase de niza tendrá un costo de:</p>
        </div>
        <div class="col-md-2">
            <span class="text-danger">{{vcImporteClaseNizaAdicional}}</span>
        </div>
    </div>
</div>

<!-- Modal agregar prioridad -->
<ng-template #templateEditarClase>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Editar clase {{vcNroClaseEditadaView}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="container-fluid">
        <form [formGroup]="formClaseEditada" autocomplete="off">
          <textarea class="form-control" formControlName="vcClaseEditada"
          rows="5"></textarea>
        </form>

      </div>
  </div>
  <div class="modal-footer">
      <button type="button" (click)="doGuardarEditado()" class="btn btn-success btn-block"
      [disabled]="formClaseEditada.value.vcClaseEditada.length<4">
          <i class="material-icons align-middle">done</i>
          Guardar
      </button>
  </div>
</ng-template>
<!-- Modal agregar prioridad -->
